<header class="header mb-3 text-capitalize ">
    <div class="container">
        <nav class="nav">
            <ul class="d-flex justify-content-between align-items-center w-100 px-0 m-0 py-3">
                <li class="list-unstyled fw-bold">
                    <a routerLink="moviesList">movie app</a>
                    <a class="tv" routerLink="tv">TV Shows</a>
                </li>
                <div class="d-flex align-items-center gap-3">
                    <select class="form-select select" [ngModel]="selectedLanguage" (ngModelChange)="onLanguageChange($event)" >
                    @for(lang of languages; track lang){
                    <option [value]="lang">{{ lang }}</option>
                    }
                    </select>
                <li class="list-unstyled position-relative">
                    <a routerLink="wishlist">
                        <img src="./heart-black.png" alt="heart icon">
                        wishlist
                    </a>
                    <div class="wishlist-count position-absolute d-flex justify-content-center align-items-center">
                        {{wishlistStore.count()}}
                    </div>
                </li>
                
                
                </div>
            </ul>
        </nav>
    </div>
</header>
