<header class="header mb-3 text-capitalize ">
    <div class="container">
        <nav class="nav">
            <ul class="d-flex justify-content-between align-items-center w-100 px-0 m-0 py-3">
                <li class="logo list-unstyled fw-bold">
                    <a routerLink="moviesList">movie app</a>
                </li>
                <li class="list-unstyled position-relative">
                    <a routerLink="wishlist">
                        <img src="./heart-black.png" alt="heart icon">
                        wishlist
                    </a>
                    <div class="wishlist-count position-absolute d-flex justify-content-center align-items-center">
                        {{wishlistStore.count()}}
                    </div>
                </li>
            </ul>
        </nav>
    </div>
</header>
