<section class="tv-details">
  <div class="container">
    <div class="tv">
      <div class="row">
        @if(tvDetailsStore.tv(); as tv) {
          <div class="col-sm-12 mb-3">
            <div class="wishlist__card mb-3 d-flex align-items-start gap-3">
              <div class="card-img">
                <img [src]="'https://image.tmdb.org/t/p/w500/' + tv.poster_path" alt="tv" />
              </div>
              <div class="card-details">
                <div class="title d-flex justify-content-between align-items-center">
                  <h3>{{ tv.name }}</h3>
                  <div>
                    <img
                      [src]="wishlistStore.isInWishlist(tv.id) ? './heart-filled.png' : './heart-empty.png'"
                      (click)="toggleWishlist(tv)"
                      alt="wishlist icon"
                    />
                  </div>
                </div>

                <p class="release">{{ tv.first_air_date }}</p>

                <div class="rate d-flex align-items-center gap-4">
                  <div class="stars">
                    <ngb-rating [rate]="tv.vote_average / 2" [readonly]="true" [max]="5" [starTemplate]="t" class="text-warning">
                    </ngb-rating>
                    <ng-template #t let-fill="fill">
                      <span class="star fs-3" [class.filled]="fill === 100">&#9733;</span>
                    </ng-template>
                  </div>
                  <div class="count">
                    <p>{{ tv.vote_count }}</p>
                  </div>
                </div>

                <p class="overview">{{ tv.overview }}</p>

                <div class="genres">
                  @for(genre of tv.genres; track genre.id) {
                    <span>{{ genre.name }}</span>
                  }
                </div>

                <div class="d-flex align-items-center gap-5">
                  <p class="duration">
                    <span>Duration: </span>{{ tv.episode_run_time}} Min.
                  </p>
                  <p class="lang">
                    <span>Languages: </span>
                    @for(lang of tv.spoken_languages; track lang.english_name) {
                      {{ lang.english_name }}
                    }
                  </p>
                </div>

                <div class="companies">
                  @for(company of tv.production_companies; track company.id) {
                    @if(company.logo_path) {
                      <img [src]="'https://image.tmdb.org/t/p/w500/' + company.logo_path" alt="company" />
                    }
                  }
                </div>

                <div class="link">
                  <a [href]="tv.homepage" target="_blank">Website <img src="./link.png" alt="link" /></a>
                </div>
              </div>
            </div>
          </div>
        }
      </div>
    </div>
  </div>
</section>
