.not-found {
    .not-wrapper {

    
    width: 100%;
    height: calc(100vh - 130px);
    p {
        margin: 20px 0;
        font-weight: 600;
        font-size: 25px;
        color: #717070
    }
}
}