/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

body {
    font-family: "Inter", sans-serif;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.page-item.active .page-link {
    background-color: #FFE353 !important; 
    border-color: #FFE353 !important;
    color: #000 !important;
    border: none !important;
}
.page-item .page-link {
    color: #000 !important;
    border: none !important
}
